{% extends 'base.html' %} 

{% load static %}

{% block title %} | Testimonials {% endblock %}

{% block content %}

    <!-- Inquiry Modal -->
    <div class="card Jumbotron w3-margin  w3-black mb-3">
        <button class="w3-white w3-xlarge w3-round-xxlarge w3-padding w3-center w3-hover-red  w3-btn w3-block" data-toggle="modal" data-target="#inquiryModal"> <h1 class="w3-jumbo w3-center">Partners Testimonies</h1>
        </button>
    </div>
        
         <!-- TESTIMONIAL -->
         <section id="testament">
                <div class="container">
                     {% if testaments %}
                         
                               {% for testament in testaments %}
                                    <div class="w3-panel">             
                                         <div class="w3-container ">
                                              <h3 class="w3-left-align" >{{testament.user.first_name|capfirst}} {{testament.user.last_name|capfirst}}</h3>
                                              <p class="w3-left-align">{{testament.ministry_name|capfirst}}</p>
                                              <p class="w3-left-align">{{testament.post_date}}</p>
                                              <img src="{{ testament.user.profile.image.url}}" alt=" " class="w3-left w3-border w3-padding w3-circle" style="padding:2px; width:115px; height:100px;">
                                              <p class="w3-left-align">{{testament.message|safe}}</p>
                                         </div>
                                    </div>
                               {% endfor %}
                     {% else %}                                    
                     <p>There are no testimonies</p>
                    {% endif %}   
                </div>
            </section>
        



{% endblock %}